.hero-section {
  display: block;
  width: 100%;
  padding-top: 60px;
  .balloons {
    position: absolute;
    top: 90px;
    right: 0;
    width: 300px;
    height: 300px;
  }
  .section1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
    figure {
      max-width: 300px;
      height: 100%;
     
      img {
        max-width: 300px;
        height: 100%;
      }
    }

    > div {
      display: inline-block;
      position: relative;
      left: 0;
      max-width: 65%;
      height: 100%;

      h1 {
        max-width: 500px;
        line-height: 64px;
      }
      .btn2 {
        span {
          cursor: pointer;
          display: inline-block;
          position: relative;
          transition: 0.5s;
          &::after {
            content: "\00bb";
            font-size: 2rem;
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
          }
        }
        &:hover span {
          padding-right: 25px;
        }
        &:hover span:after {
          opacity: 1;
          right: 0;
        }
      }
    }
  }
  .section2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--backgroundColor1);
    margin-top: 50px;
    padding-bottom: 50px;
    div {
      display: inline-block;
      text-align: center;
      position: relative;
      h2 {
        font-size: 2.5rem;
      }
    }

    div::after {
      content: "";
      position: absolute;
      display: inline-block;
      left: 0;
      top: 35%;
      width: 1px;
      height: 50%;
      margin: 0 auto;
      border-left: 1px solid var(--textColor1);
    }
    div:first-child::after {
      border: none;
    }
  }
}
