.background-image {
  position: absolute;
  width: 100%;
  height: 500px;
  background-size: cover;
  filter: blur(8px);
  opacity: 0.7;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.background-container {
  position: relative;
  height: 500px;
  padding: 0 22.5%;
  h2 {
    padding-top: 100px;
  }
  .search-container {
    display: grid;
    grid-template-columns: 1fr 3fr 0.5fr;
    position: relative;
    height: 50px;
    background-color: black;
    box-shadow: 20px 20px 50px 15px black;
    & > * {
      color: white;
      background-color: black;
      height: 100%;
      width: 100%;
      border: none;
      font-size: 1.2rem;
      &:focus {
        border: none;
        outline: none;
      }
      &:focus-visible {
        border: none;
        outline: none;
      }
    }
    input[type="search"]:focus-visible {
      border-bottom: 1px solid gray;
    }
    .searchBtn {
      cursor: pointer;

      svg {
        height: 100%;
        width: 30px;
        padding: 0 20px;
        transition: all 0.6s;
        &:hover {
          color: orange;
          width: 33px;
        }
      }
      //   &:hover svg{
      //     box-shadow: 20px 20px 50px 15px gray;

      //   }
    }
  }
}
