:root {
  --backgroundColor: #0f0200;
  --backgroundColor1: #1F1614;
  --textColor1: #594c49;
  --btnColor1: #fe4d13;
}
html{
  font-size: 16px;

}
body {
  color: white;
  background-color: var(--backgroundColor);
  margin: 0;
  overflow-x: hidden;
}
h1 {
  font-size: 4rem;
}
h2 {
  text-align: center;
}

/* custom button styles */
.btn1 {
  transition: all 0.4s;
  position: relative;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  text-align: center;
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  border: none;
  border-radius: 50px;
  color: rgb(163, 161, 161);
  background-color: var(--backgroundColor1);
  box-shadow: 0 8px 16px 0 rgba(168, 168, 168, 0.2), 0 6px 20px 0 rgba(168, 168, 168, 0.2);

  &:active{
    transform: translateY(10%);
  }
  &:hover{
    background-color: rgb(208, 206, 206);
    color: #0f0200;
  }
}

.btn2 {
  cursor: pointer;
  align-self: center;
  justify-self: center;
  text-align: center;
  width: 300px;
  height: 70px;
  background-color: var(--btnColor1);
  line-height: 70px;
  font-size: 25px;
  border: none;
  border-radius: 50px;
}
.btn2:active{
  transform: translateY(5%);
}
.btn2 svg{
  margin: 0 10px;
}
.textBtn{
  cursor: pointer;
  font-size: 2rem;
}
.textBtn:hover{
  color: rgb(152, 152, 152);
}
/* hover effect on img styles */
figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
figure:hover img{
  transform: scale(1.3);
}
figure img {
  margin: 0;
  padding: 0;
  transition: 0.3s ease-in-out;
  transform: scale(1);
}
html,body{
  overflow-x: hidden;
  transition: all 0.3s;
}
@media (max-width:600px) {
  html{
    font-size: 11px;
  }
  
}
@media (max-width:1000px) {
  html{
    font-size: 13px;
  }
  
}