.content1 {
  padding: 100px;
  h1 {
    text-align: center;
  }
  .weddingimg {
    width: 100%;
  }
  > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    div {
      padding: 0 20px;
    }
  }
}
.content2 {
  padding: 100px;
  background-color: var(--backgroundColor1);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 400px;
  h1 {
    padding-top: 0;
    text-align: left;
  }
  p {
    position: relative;
    text-align: right;
    padding-top: 100px;
  }
  ul {
    list-style-type: none;

    margin: 0;
    padding: 0;
    li {
      margin: 1.2rem 0;
      padding: 1.2rem 0;
    }
  }
  figure {
    width: 400px;
    height: 600px;
    position: relative;
    img {
      position: absolute;
      object-fit: cover;
      width: 400px;
      height: 100%;
      z-index: 2;
    }
    img:first-child {
      z-index: 1;
    }
    .img2 {
      transform: translateX(-400px);
    }
  }
}
.content3 {
  margin-top: 200px;
  padding: 0 0 100px 0;
  .thingsList {
    // transform: translateX();
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      opacity: 0;
      height: 150px;
      border-bottom: 1px solid rgb(186, 186, 186);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      span {
        line-height: 150px;
        font-size: 2rem;
        text-align: center;
      }
      img {
        height: 150px;
        width: 150px;
        object-fit: cover;
      }
    }
    // li:nth-child(odd){
    //   transform: translateX(-200vh);
    // }
    // li:nth-child(even){
    //   transform: translateX(200vh);
    // }
    li:nth-child(odd)::before {
      content: "";
      display: inline-block;
      position: relative;
    }
    li:nth-child(odd) {
      img {
        justify-self: end;
      }
    }
  }
}
@media (max-width: 800px) {
  .content-section {
    .content1 {
      padding: 50px;
    }
    .content2 {
      padding: 50px;
    }
  }
}
@media (max-width: 600px) {
  .content-section {
    .content1 {
      padding: 10px;
      h1 {
        font-size: 30px;
      }
      DIV {
        padding: 0px 5px;
        div {
          font-size: 1rem;
          h2 {
            font-size: 1.2rem;
          }
        }
      }
    }
    .content2 {
      padding: 10px;
    }
    .content3 {
      ul {
        li {
          height: 100px;
          span {
            line-height: unset;
            padding: 20px 0;
          }
          img {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .content2 {
    display: block;
    H1 {
      text-align: center;
      font-size: 3rem;
    }
    p {
      padding: unset;
      text-align: center;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      li {
        display: inline;
        div {
          display: inline;
          font-size: 1.4rem;
        }
      }
    }
    figure {
      width: 100%;
      position: relative;
      height: 300px;
    }
  }
}
